.row {
  //display: flex;

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  &--t-padding {
    padding-top: 80px;
  }

  @mixin atMedium {
    & {
      display: flex;
      align-items: top;
    }

    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &--gutters > div:not(:last-child) {
      padding-right: 65px;
    }

    &--gutters-large > div:not(:last-child) {
      padding-right: 100px;
    }

    &--gutters-small > div:not(:last-child) {
      padding-right: 0;
      margin-right: 45px;
    }

    &__medium-4 {
      width: 33.33%;
    }
    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      width: 50%;
    }

    &__medium-8 {
      width: 66.66%;
    }
    &__medium-8--smaller {
      width: 63%;
    }
  }

  &--testimonials {
    & > :last-child {
      color: inherit;
    }
  }

  // begin equal height at medium
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      display: flex;
    }
  }
}
